In [ ]:
#IMPORTING THE REQUIRED LIBRARIES 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [ ]:
#IMPORTING THE DATASET AND DISPLAYING THE DATA
df=pd.read_csv('/content/sample_data/sonar_data.csv')
df.head(6)

,Freq_1,Freq_2,Freq_3,Freq_4,Freq_5,Freq_6,Freq_7,Freq_8,Freq_9,Freq_10,...,Freq_52,Freq_53,Freq_54,Freq_55,Freq_56,Freq_57,Freq_58,Freq_59,Freq_60,Label
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R
5,0.0286,0.0453,0.0277,0.0174,0.0384,0.0990,0.1201,0.1833,0.2105,0.3039,...,0.0045,0.0014,0.0038,0.0013,0.0089,0.0057,0.0027,0.0051,0.0062,R

In [ ]:
#CONVERTING THE NUMERICAL VARIABLES TO CATEGORICAL VARIABLES
df['Label'].replace(['R','M'], [0,1], inplace=True)
df.head()

,Freq_1,Freq_2,Freq_3,Freq_4,Freq_5,Freq_6,Freq_7,Freq_8,Freq_9,Freq_10,...,Freq_52,Freq_53,Freq_54,Freq_55,Freq_56,Freq_57,Freq_58,Freq_59,Freq_60,Label
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,0
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,0
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,0
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,0
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,0

In [ ]:
df.shape

(208, 61)

In [ ]:
df.isnull().any()

Freq_1     False
Freq_2     False
Freq_3     False
Freq_4     False
Freq_5     False
           ...
Freq_57    False
Freq_58    False
Freq_59    False
Freq_60    False
Label      False
Length: 61, dtype: bool

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 61 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Freq_1   208 non-null    float64
 1   Freq_2   208 non-null    float64
 2   Freq_3   208 non-null    float64
 3   Freq_4   208 non-null    float64
 4   Freq_5   208 non-null    float64
 5   Freq_6   208 non-null    float64
 6   Freq_7   208 non-null    float64
 7   Freq_8   208 non-null    float64
 8   Freq_9   208 non-null    float64
 9   Freq_10  208 non-null    float64
 10  Freq_11  208 non-null    float64
 11  Freq_12  208 non-null    float64
 12  Freq_13  208 non-null    float64
 13  Freq_14  208 non-null    float64
 14  Freq_15  208 non-null    float64
 15  Freq_16  208 non-null    float64
 16  Freq_17  208 non-null    float64
 17  Freq_18  208 non-null    float64
 18  Freq_19  208 non-null    float64
 19  Freq_20  208 non-null    float64
 20  Freq_21  208 non-null    float64
 21  Freq_22  208 non-null    float64
 22  Freq_23  208 non-null    float64
 23  Freq_24  208 non-null    float64
 24  Freq_25  208 non-null    float64
 25  Freq_26  208 non-null    float64
 26  Freq_27  208 non-null    float64
 27  Freq_28  208 non-null    float64
 28  Freq_29  208 non-null    float64
 29  Freq_30  208 non-null    float64
 30  Freq_31  208 non-null    float64
 31  Freq_32  208 non-null    float64
 32  Freq_33  208 non-null    float64
 33  Freq_34  208 non-null    float64
 34  Freq_35  208 non-null    float64
 35  Freq_36  208 non-null    float64
 36  Freq_37  208 non-null    float64
 37  Freq_38  208 non-null    float64
 38  Freq_39  208 non-null    float64
 39  Freq_40  208 non-null    float64
 40  Freq_41  208 non-null    float64
 41  Freq_42  208 non-null    float64
 42  Freq_43  208 non-null    float64
 43  Freq_44  208 non-null    float64
 44  Freq_45  208 non-null    float64
 45  Freq_46  208 non-null    float64
 46  Freq_47  208 non-null    float64
 47  Freq_48  208 non-null    float64
 48  Freq_49  208 non-null    float64
 49  Freq_50  208 non-null    float64
 50  Freq_51  208 non-null    float64
 51  Freq_52  208 non-null    float64
 52  Freq_53  208 non-null    float64
 53  Freq_54  208 non-null    float64
 54  Freq_55  208 non-null    float64
 55  Freq_56  208 non-null    float64
 56  Freq_57  208 non-null    float64
 57  Freq_58  208 non-null    float64
 58  Freq_59  208 non-null    float64
 59  Freq_60  208 non-null    float64
 60  Label    208 non-null    int64
dtypes: float64(60), int64(1)
memory usage: 99.2 KB

In [ ]:
data=df.values
X = (data[:,0:59])
y = (data[:,60])

print(X.shape)
print(y.shape)

(208, 59)
(208,)

In [ ]:
#SPLITTING THE DATA INTO TEST AND TRAIN DATA
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
#FEATURE SCALING 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
#Training the Naive Bayes model on the training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
#Prediction of test results
y_pred  =  classifier.predict(X_test)
y_pred

array([0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0.,
       1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0.,
       1.])

In [ ]:
y_test

array([0., 0., 0., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0.,
       1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 0., 1., 0.,
       1.])

In [ ]:
#CONFUSION MATRIX AND ACCURACY
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[18,  8],
       [ 6, 20]])

In [ ]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test,y_pred)
ac

0.7307692307692307